.formBtn {
    padding: 7px 15px;
    background-color: #8b8b8b8b;
    border: 1px solid #4c4c4c;
    border: none;
    border-radius: 8px;
    width: 130px;
    transition: all 0.2s;
}
.formBtn:hover {
    cursor: pointer;
    background-color: rgb(236, 201, 201) !important;
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
